<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 class="default-page-elements">
    Welcome to {{ title }}!
  </h1>
  <!-- <img width="300" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> -->

  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
    y="0px" viewBox="0 0 300 300" width="300">
    <style type="text/css">
      .shield-left {
        fill: #DD0031;
      }

      .shield-right {
        fill: #C3002F;
      }

      .angular-a {
        fill: #FFFFFF;
      }
    </style>
    <g>
      <polygon class="shield-left" fill="#DD0031" points="93 0 93.9 200 14.2 156.3 0 33.2"></polygon>
      <polygon class="shield-right" fill="#C3002F" points="93 200 171.9 156.3 186.1 33.2 93 0"></polygon>
      <path class="angular-a" d="M93,22.1 L34.8,152.6 L34.8,152.6 L56.5,152.6 L56.5,152.6 L68.2,123.4 L117.6,123.4 L129.3,152.6 L129.3,152.6 L151,152.6 L151,152.6 L93,22.1 L93,22.1 L93,22.1 L93,22.1 L93,22.1 Z M110,105.4 L76,105.4 L93,64.5 L110,105.4 Z"  />
    </g>
  </svg>
</div>
<h2 class="default-page-elements">Here are some links to help you start: </h2>
<ul class="default-anchor-list">
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

<router-outlet></router-outlet>